* {
    font-family: Helvetica, sans-serif;
    background-color: #222831;
    color: #EEEEEE;
    /* Background   #222831 */
    /* Hover        #393E46 */
    /* Highlight    #00ADB5 */
    /* Font         #EEEEEE */
}