.notFoundContainer {
    width: 100dvw;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.notFoundContainer > img {
    height: 25%;
    transition: height 0.5s;
}

.notFoundContainer > img:hover {
    height: 30%;
    transition: height 0.5s;
}